<!DOCTYPE html>
<html>
<head>
	<title>Input your product</title>
</head>
<body>
    <h1>We are inputing products and storing them in sql db</h1>


    <form action="/" method="POST" >
        <div>
            <label for ="name">Enter the product name: </label>
        <input type="text" id="name" name="name">
        </div>
        <div>
        <label for ="price">Enter the product price: </label>
        <input type="number" id="price" name="price">
    </div>
    <div>
        <label for ="quantity">Enter the product quantity that is available: </label>
        <input type="number" id="quantity" name="quantity"> 
    </div>
    <div>
        <label for ="location">Enter the location where the product is stored: </label>
        <input type="text" id="location" name="location"> 
    </div>
        <button>Submit your product</button>
    </form>
    </body>
</html>




