<!DOCTYPE html>
<html>
<head>
	<title>Index of all products</title>
</head>
<body>
    <h1>All products: </h1>

    <% for (let product of products) {%>
        <a href="/<%=product.id%>"><li> <%= product.name %> </li> </a>
    <% } %>

    <a href="/"><button> Create a product </button></a>


    </body>

</html>