<!DOCTYPE html>
<html>
<head>
	<title>Index of all products</title>
</head>
<body>
    <h1>All products: </h1>

    <% for (let product of products) {%>
        <li> <%= product.name %> </li>
    <% } %>
    </body>

</html>