<!DOCTYPE html>
<html>
<head>
	<title>Showing specific product</title>
</head>
<body>
    <h1>Product name: <%= product.name %> </h1>
    <h4>Product price: <%= product.price %> </h4>
    <h4>Product quantity: <%= product.quantity %> </h4>
    <h4>Product location: <%= product.location %> </h4>
</body>
  
    
</html>